
/* AZUL GUAPO: 2AB9E7 */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.otf);
}

body {
    font-family: 'Raleway', sans-serif;
}

article h1 {
    text-shadow: 2px 2px 1px #dddddd;
}

/* HEADER */

div.cover {
    background: url('../img/alhambra_dentro.jpg') no-repeat fixed;
}

header {
    
    /*background: linear-gradient(to right, rgb(42, 185, 231, 0.70) , #5bc9eb);*/
    height: 120px;
    color: white;
    text-align: center;
    font-family: 'bebas', sans-serif;
    margin: -40px -10px 0px -10px;
}

header h1 {
    font-size: 50pt;



    text-shadow: 2px 2px 1px #5e5e5e;
    

}

header h2 {
    font-size: 20pt;
    line-height: 0.1;
    margin-top: -45px;
    text-shadow: 1px 1px 1px #4d4d4d;
}

/* Cuando la pantalla es pequeña el titulo se hace mas
    pequeño para poderse encajar    */
@media only screen and (max-width: 500px) {

    header {
        height: 75px;
        margin: -25px -10px 0px -10px;
    }
    header h1 {
        font-size: 30pt;
    }

    header h2 {
        margin-top: -19px;
    }
}


.menu {
    width: 100%;
    clear: both;
    background: linear-gradient(to right, #2AB9E7 , #5bc9eb);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 14px 14px 14px 14px;
    background: linear-gradient(to right, #2AB9E7 , #5bc9eb);
    width: 100%;
    margin-left: -10px;

}

.menu li {
    text-align: center;
    display: inline;
}

.menu li a {
    padding: 14px 14px 14px 14px;
    text-decoration: none;
    background-color: #2AB9E7;
    color: white;
    transition: 0.5s;
}

.menu li a:hover {
    background-color: white;
    color: black;
}

.menu li a.active {
    background-color: white;
    color: black;
}

/* ASIDE */

aside {
    width: 17%;
    float: left;

    padding-top: 1px;
}

aside ul {
    margin: 0;
    padding: 0;
}

/* ARTICLE */

article {
    width: 80%;
    float: right;
    padding-left: 20px;
    border-left: solid black;
}


@media only screen and (max-width: 1000px) {

    aside {
        width: 25%;
    }

    article {
        width: 71%;
    }
}


/* Cuando la pantalla es pequeña se oculta el aside y se le
    da una anchura a "article" del 100% */
@media only screen and (max-width: 700px) {

        aside {
            width: 0%;
            display: none;
        }

        article {
            width: 100%;
        }
}


/* Galeria responsiva */

div.galeria {
    border: 1px solid #ccc;
    float: left;
    text-align: center;
}

div.galeria:hover {
    border: 1px solid rgb(72, 196, 253);
}

div.galeria img {
    width: 95%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Resto de pantallas - Se muestran hasta cuatro imágenes por fila */
.responsivo {
    padding: 0 6px;
    margin-top: 10px;
    float: left;
    width: 24.99999%;
}

/* Pantallas con max 1000px - Se muestran dos imagenes por fila */
@media only screen and (max-width: 1000px) {
    .responsivo {
        width: 44.99999%;
        margin: 6px 0;
    }
}

/* Pantallas con max 500 - Se muestra una única imagen por fila */
@media only screen and (max-width: 700px) {
    .responsivo {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* FOOTER */

footer {
    padding: 20px 10px 20px 10px;
    width: 100%;
    text-align: center;
    font-size: 10pt;
    background-color: azure;
    clear: both;
}


/*Páginas de las obras*/

div.imagen{
  float:left;
  margin: 10px,10px,10px,10px;
}
div.imagen img{
  width:20%;
  height: 50%;
}

div.texto{
  margin: 10px,10px,10px,10px;
  width: 75%;
}
