
/* AZUL GUAPO: 2AB9E7 */

@font-face {
    font-family: bebas;
    src: url(../fonts/BebasNeue-Regular.otf);
}

body {
    font-family: 'Raleway', sans-serif;
}

article h1 {
    text-shadow: 2px 2px 1px #dddddd;
}

input {
    border-radius: 30px;
    padding: 10px;
    font-size: 13pt;
}

input[type=submit] {
    text-decoration: none;
    font-size: 15pt;
    height: 35px;
    padding: 5px 20px 5px 20px;
    background-color: #2AB9E7;
    text-shadow: 1px 1px gray;
    color: white;
    cursor: pointer;
    width: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: black;
}

input[type=text] {
    width: 90%;
}

/* HEADER */

div.cover {
    background: url('../img/alhambra_dentro_grande.jpg') no-repeat fixed;
    height: 206px;
    margin: -50px -10px 0px -10px;
    padding-bottom: 20px;
    z-index: 1;
}

header {
    background-color:  RGBA(42, 185, 231, 0.70);
    background: linear-gradient(to right, rgb(42, 185, 231, 0.70) , 
    rgb(91, 201, 234, 0.75));
    height: 150px;
    color: white;
    text-align: center;
    font-family: 'bebas', sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    z-index: 2;
    
}

header h1 {
    font-size: 50pt;
    text-shadow: 2px 2px 1px #5e5e5e;
    margin-top: 40px;
    z-index: 4;
}

header h2 {
    font-size: 20pt;
    line-height: 0.1;
    margin-top: -45px;
    text-shadow: 1px 1px 1px #4d4d4d;
    margin-left: 30%;
}

header img {
    position: absolute;
    left: 120px;
    float: left;
    height: 110px;
    margin-top: 40px;
    z-index: 3;
}

.menu_bar {
	display:none;
}

/* AJUSTES DEL HEADER PARA PANTALLAS MÁS PEQUEÑAS */
/* Ordenadas de más grandes a pequeñas            */

@media only screen and (max-width: 1000px) {
    header img {
        left: 70px;
        height: 100px;
    }

    header h1 {
        font-size: 46pt;
        margin-left: 10%;
    }

    header h2 {
        margin-top: -40px;
        margin-left: 50%;
    }
}

@media only screen and (max-width: 800px) {
    header img {
        left: 2px;
        height: 100px;
    }

    header h1 {
        font-size: 37pt;
        margin-left: 30%;
    }

    header h2 {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 650px) {
    header img {
        left: 2px;
        height: 100px;
    }

    header h1 {
        font-size: 37pt;
        margin-left: 30%;
    }

    header h2 {
        margin-top: -30px;
    }
}

@media only screen and (max-width: 500px) {
    .menu_bar{
        display:block;
        width:100%;
        background: #ccc;
    }
    
    .menu_bar .bt-menu {
		display:block;
		padding:20px;
		background:#024959;
		color:#fff;
		text-decoration:none;
		font-weight: bold;
		font-size:25px;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
    }

    .menu_bar span {
		float:right;
		font-size:40px;
	}
    
    
    div.cover {
        height: 156px;
    }
    header {
        position:fixed;
        padding-top: 10px;
        height: 101px;
        margin: -25px -0px 0px -10px;
    }
    header h1 {
        font-size: 30pt;
    }

    header h2 {
        margin-top: -19px;
    }

    header img {
        left: 2px;
        height: 60px;
    }
}

#muestra_obras {
    position: absolute;
    top: 200px;
    right: 100px;
    width: 200px;
    border-bottom: solid black 1px;
    border-left: solid black 1px;
    border-right: solid black 1px;
    margin: 0px;     
    z-index: 999;
    border-radius: 5px;
    text-decoration: none;
}

#muestra_obras datalist {
    border-radius: 8px;
    text-decoration: none;
    background-color: blue;
}

#muestra_obras a {
    position: relative;
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
    padding: 3px;
    background-color: white;
    z-index: 999;
    font-size: 10pt;
    cursor: pointer;
}

#buscamosobra {
    width: 26%;
    position: absolute;
    right: 10px;
    top: 100px;
}


#muestra_obras a:hover {
    background-color: rgb(163, 212, 255);

}


    .menu {
        width: 100%;
        clear: both;
        background-color: RGBA(42, 185, 231, 0.70);
        background: linear-gradient(to right, rgb(42, 185, 231, 0.70), rgb(91, 201, 234, 0.75));
    }

        .menu ul {
            list-style-type: none;
            margin: 0;
            padding: 14px 14px 14px 14px;
            width: 100%;
            margin-left: -10px;
        }

        .menu li.login {
            margin-right: 20px;
            float: right;
            display: inline;
        }

        .menu li.login a {
            padding-right: 20px;
            padding-left: 20px;
        }

        .menu li {
            text-align: center;
            display: inline;
        }

            .menu li:first-child {
                margin-left: 20px;
            }

            .menu li a {
                padding: 14px 14px 14px 14px;
                text-decoration: none;
                background-color: rgba(42, 185, 231, 0.5);
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                color: white;
            }

                .menu li a:hover {
                    background-color: white;
                    color: black;
                }

                .menu li a.active {
                    background-color: white;
                    color: black;
                }

                .menu li icon {
                    display : none;
                }

                .menu li .ham {
                    display : none;
                }

    .btn_comentarios {
        position: fixed;
        bottom: 20px;
        right: 20px;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        background-color: rgb(161, 218, 236);   
        color: black;
        box-shadow: gray 1px 1px;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .btn_comentarios:hover {
        background-color: white;
    }

    /* ASIDE */
    aside {
        width: 17%;
        float: left;
        padding-top: 20px;
        padding-left: 3px;
    }

        aside ul {
            margin: 0;
            padding: 0;
        }


        aside h2 {
            text-transform: uppercase;
            font-size: 15pt;
            margin-bottom: 30px;
            padding-bottom: 10px;
            border-bottom: solid black 1.5px;
        }

        aside ul li h3 {
            font-size: 12pt;
        }

        aside p {
            margin-left: 8px;
            line-height: 0.1;
        }

        aside a {
            height: 5em;
            margin-top: -10px;
            text-decoration: none;
            background-color: RGBA(42, 185, 231, 0.00);
            color: black;
            display: block;
            border-radius: 5px;
            transition: ease-in 0.2s;
        }
            aside a:hover {
                background-color: RGBA(42, 185, 231, 0.10);
            }

    p.dia {
        font-style: italic;
        color: rgb(77, 77, 77);
        font-size: 10pt;
    }

    /* ARTICLE */
    article h1 {
        text-transform: uppercase;
    }

    article {
        width: 80%;
        float: right;
        padding-left: 20px;
        padding-bottom: 30px;
    }

    @media only screen and (max-width: 1000px) {

        aside {
            width: 25%;
        }

        article {
            width: 71%;
        }
    }


    /* Cuando la pantalla es pequeña se oculta el aside y se le
    da una anchura a "article" del 100% */
    @media only screen and (max-width: 700px) {

        aside {
            width: 0%;
            display: none;
        }

        article {
            width: 100%;
        }
    }

    /* Galeria responsiva */

    div.galeria {
        border: 1px solid #ccc;
        float: left;
        text-align: center;
    }

        div.galeria:hover {
            border: 1px solid rgb(72, 196, 253);
        }

        div.galeria img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
        height: 2.5em;
    }

    /* Resto de pantallas - Se muestran hasta cuatro imágenes por fila */
    .responsivo {
        padding: 0 6px;
        margin-top: 10px;
        float: left;
        width: 22.88888%;
    }

    /* Pantallas con max 1000px - Se muestran dos imagenes por fila */
    @media only screen and (max-width: 1000px) {
        .responsivo {
            width: 44.99999%;
            margin: 6px 0;
        }
    }

    /* Pantallas con max 500 - Se muestra una única imagen por fila */
    @media only screen and (max-width: 700px) {
        .responsivo {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }

        article h1 {
            margin-left: 5%;
        }
    }

    @media only screen and (max-width: 500px) {
        .responsivo {
            width: 80%;
            margin-left: 10%;
            margin-right: 10%;
        }

        article h1 {
            margin-left: 5%;
        }

        .menu li .icon {
            float: left;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
        }
        .menu li .responsive a {
            float: none;
            display: block;
            text-align: left;
        }
        .menu li .ham {
            display:block;
        }
    }

    /* FOOTER */

    footer {
        padding: 20px 10px 20px 10px;
        width: 100%;
        margin-left: -10px;
        margin-bottom: -10px;
        text-align: center;
        font-size: 10pt;
        background-color: azure;
        clear: both;
    }


    /***************************************/
    /*                OBRA                 */
    /***************************************/

    article.obra {
        width: 100%;
        background: url('../img/patio.jpg') no-repeat fixed;
    }

    div.fondo_obra {
        margin-top: -20px;
        background-color: rgba(244, 250, 252, 0.938);
        margin-bottom: -30px;
        height: 1600px;
    }

    div.obra {
        padding-top: 20px;
        padding-bottom: 100px;
        margin-top: 20px;
        margin-left: 15%;
    }

    div.imagen {
        margin: 10px,10px,10px,10px;
        width: 30%;
        height: 500px;
    }

        div.imagen img {
            width: 100%;
            margin-bottom: 20px;
            border: solid rgb(100, 100, 100) 2px;
            border-radius: 7px;
        }

            div.imagen img:hover {
                border: solid rgb(148, 148, 148) 2px;
            }

    div.texto {
        margin: 10px,10px,10px,12px;
        margin-top: -540px;
        margin-bottom: 50px;
        width: 52%;
        margin-right: 15%;
        float: right;
    }

    div.botones {
        width: 100%;
        margin-top: 30px;
    }

    div.video {
        text-align: center;
        width: 100%;
        margin-left: -220px;
        margin-top: 270px;
    }

    /* COMENTARIOS */

    form.escribir input{
        font-size: 10pt;
    }

    .comentarios {
        position: fixed;
        bottom: 20px;
        right: -300px;
        border-radius: 4px;
        height: 450px;
        width: 65%;
        background-color:rgba(161, 218, 236, 0.9);
        border: solid black 1px;
        padding: 10px 10px 10px 10px;
    }

    #icono_boton {
        margin-top: 11px;
        margin-left: 11px;
    }

    .header_comentarios {
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 18pt;
        color: black;
        font-family: 'bebas', sans-serif;
        border-bottom: solid black 1px;
    }

    .cerrar {
        text-align: right;
        margin-top: -30px;
        margin-right: 10px;
        cursor: pointer;
    }

    .mensaje {
        line-height: 0.2;
    }

    p.texto_men {
        line-height: 0.8;
        background-color: white;
        padding: 7px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: -10px;
    }

    p.fecha_com {
        text-align: right;
        margin-top: -23px;
        color: gray;
        font-size: 10pt;
    }

    p.nombre_com {
        font-family: 'bebas', sans-serif;
        font-size: 12pt;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
    input {
        margin: 2px 0;
        box-sizing: border-box;
        border: solid #ccc 1px;
        -webkit-transition: 0.5s;
        transition: 0.5s;   
        font-family: 'Raleway', sans-serif;
        margin-top: 5px;
    }

    input:focus {
        border: 1px solid #555;
    }


    input.texto_comentario {
        width: 100%;
    }
    div.container_comentarios {
        height: 310px;
    }
    p.com {
        line-height: 0.3;
    }

    form.escribir {
        border-top: solid black 1px;
        margin-bottom: 0px;
        padding-top: 5px;
    }

    @media only screen and (max-width: 700px) {
        div.comentarios {
            width: 90%; 
        }
    }

    /* Pantallas más pequeñas, se muestra todo en una columna */
    @media only screen and (max-width: 700px) {
        div.fondo_obra {
            height: 1800px;
        }
        div.obra {
            margin-left: 1%;
        }
        div.imagen {
            width: 60%;
            margin-left: 20%;
            height: 650px;
        }

        div.texto {
            width: 80%;
            margin-top: 0px;
            margin-right: 10%;
            margin-right: 10%;
        }

        div.video {
            margin-left: 0px;
        }
    }


/******************************/
/*         BOTONES            */
/******************************/

a.boton {
    display: inline-block;
    background-color: #2AB9E7;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: white;
    width: 26%;
    vertical-align: middle;
    text-align: center;
    margin: 5px 5px 5px 5px;
    border-radius: 8px;
    transition: 0.1s;
    text-shadow: 1px 1px gray;
}

    a.boton:hover {
        background-color: white;
        color: black;
    }

@media only screen and (max-width: 920px) {

    a.boton {
        width: 98%;
    }

    div.obra {
        padding-bottom: 180px;
    }
}

@media only screen and (max-width: 700px) {

    a.boton {
        width: 100%;
    }

    div.obra {
        padding-bottom: 180px;
    }
}

    /* PARA IMPRIMIR*/

    div.fondo_obra_imprimir {
        margin-top: -20px;
        margin-bottom: -30px;
    }

    article.sin_fondo {
        width: 100%;
    }

    /***************************************/
    /*         COLECCIONES                 */
    /***************************************/

    a.nom_col {
        text-decoration: none;
        cursor: pointer;
        color: black;
        transition: 0.5s;
        display: block;
        padding: 10px 10px 10px 10px;
    }

    a.nom_col:hover {
        background-color: rgb(219, 247, 255);
    }

    
    article.colecciones {
        width: 60%;
        margin-left: 15%;
        float: none;
    }

    article.colecciones a.volver svg {
        margin-top: -70px;
    }

    /***************************************/
    /*             PANEL                   */
    /***************************************/

    div.datos_usuario {
        padding: 20px 20px 20px 20px;
        width: 100%;
        height: 450px;
        background-color: rgba(141, 218, 248, 0.247);
    }
        div.datos_usuario div.panel {
            background-color: white;
            text-align: center;
            padding: 15px;
            margin: 15px;
            border-radius: 5px;
            width: 27%;
            float: left;
            box-shadow: rgb(70, 102, 135) 2px 2px 5px;
        }

        div.datos_usuario h2 {
            font-size: 20pt;
        }

        div.datos_usuario h3 {
            color: rgb(119, 119, 119);
            margin-top: -20px;
            font-size: 10pt;
            font-style: italic;
        }

        div.datos_usuario div.nuevo_nombre {

        }

        div.datos_usuario input[type=text] {
            width: 50%;
        }

        div.datos_usuario input[type=submit] {
            width: 50%;
        }

        div.datos_usuario div.nueva_pass {

        }

    @media only screen and (max-width: 950px) {
        div.datos_usuario {
            height: 800px;
        }

        div.datos_usuario div.panel {
            width: 84%;
            margin: 5px;
        }
    }
    form.buscar input[type=text] {
        width: 30%;
        margin: 5px;
    }

    form.buscar input[type=submit] {
        width: 30%;
    }

    div.busqueda {
        width: 55%;
        margin: 30px;
        margin-left: 25%;
        text-align: center;
       
    }

    div.resultado_usuarios {
        width: 100%;
    }

        div.resultado_usuarios table {
            width: 100%;
        }

        div.resultado_usuarios table td {
            padding: 5px;
        }

        div.resultado_usuarios table td.email {
            font-size: 10pt;
        }

    div.conf_roles {
        text-align: center;
        width: 50%;
        margin: 30px;
        margin-left:25%;
    }

    div.roles {
        height: 29px;
        overflow: hidden;
        width: 100%;
        border: solid black 1px;
        border-radius: 5px;
    }

        div.roles select {
            border: none;
            background: transparent;
            padding: 5px 5px 5px 5px;
            width: 100%;
        }

    @media only screen and (max-width: 850px) {
        div.conf_roles {
            width: 100%;
            margin-left: 0%;
        }

        div.busqueda {
            width: 100%;
            margin-left: 0%;
        }
    }

    /*  CONFIGURACION DE  OBRAS */

    div.conf_obras {
        width: 50%;
        margin: 30px;
        margin-left: 25%;
        margin-top: 60px;
        text-align: center;
    }

    form.buscar_obra input[type=text] {
        width: 30%;
        margin: 5px;
    }

    form.buscar_obra input[type=submit] {
        width: 30%;
    }

    div.res_obra_busc {
        width: 100%;
        text-align: center;
    }

        div.res_obra_busc table {
            width: 100%;
        }

        div.res_obra_busc table td {
            padding: 5px;
            text-align: center;
        }

        div.res_obra_busc a {
            color: rgb(11, 138, 201);
            font-size: 15pt;
            transition: 0.2s;   
        }

        div.res_obra_busc a:hover {
            color: rgb(112, 207, 255);
        }

    @media only screen and (max-width: 800px) {
        div.conf_obras {
            width: 100%;
            margin-left: 0%;
        }
    }

    div.lista_obras {
        width: 100%;
        text-align: center;
        margin-top: 30px;
        height: 200px;
    }

        div.lista_obras div.res_obra {
            padding: 0 6px;
            margin-top: 10px;
            float: left;
            width: 10.888%;  
        }

            div.lista_obras div.res_obra form.herramientas {
                height: 50px;
                padding: 15px;
                font-size: 15pt;
            }

            div.lista_obras div.res_obra img {
                width: 100%;
                height: auto;
                border-radius: 5px;
                border: solid gray 1px;
            }

            form.herramientas a {
                color: rgb(19, 144, 194);
                margin: 6px;
                margin-top: -10px;
            }

            form.herramientas a:hover {
                color: black;
            }

    @media only screen and (max-width: 800px) {
        div.lista_obras div.res_obra {
            width: 22.888%;  
        }

        div.lista_obras div.res_obra form.herramientas {
            font-size: 20pt;
        }
    }

    @media only screen and (max-width: 600px) {
        div.lista_obras div.res_obra {
            width: 46.888%;  
        }
    }
            
    /* comentarios*/

    div.conf_comentarios{
        width: 90%;
        margin: 30px;
        margin-top: 60px;
        height: 100%; 
    }

        div.conf_comentarios h2 {
            text-align: center;
        }

        div.conf_comentarios p {
            margin-bottom: 10px;
        }

        div.conf_comentarios div.comentario_panel, div.conf_comentarios form.confirmar_com {
            border: solid black 1px;
            float:left;
            width: 100%;
        }

    div.comentario_panel {
        padding: 5px;
    }
    
    div.comentario_panel form, div.comentario_panel div {
        float:left;
        margin: 5px;    
    }

    div.nombre_com {
        width: 18%;
        float: left;
        font-weight: bold;
    }

    div.comentario {
        width: 65%;
        float: left;
    }


    button[type=submit] {
        background-color: transparent;
        border: none;
        margin: 0px;
        float: left;
        color: black;
        font-size: 12pt;
    }

    button[type=submit]:hover {
        color: rgb(140, 140, 140);
    }

    form.confirmar_com input[type=text] {
        width: 70%;
        background: none;
        border: none;
        color: black;
    }


    /*cerrar sesion*/

    div.cerrar_sesion {
        width: 100%;
    }
    
    div.cerrar_sesion a.cerrar_sesion {
        width: 40%;
        margin: 30px;
        margin-left: 30%;
        background: linear-gradient(rgb(219, 102, 102), rgb(235, 114, 114));
    }

    div.cerrar_sesion a.cerrar_sesion:hover {
        background: linear-gradient(rgb(238, 184, 184), rgb(236, 176, 176));
    }

    /***************************************/
    /*             LOGIN                   */
    /***************************************/
    div.container_login {
        margin: 20px 20px 20px 20px;
        margin-top: 60px;
        margin-bottom: 120px;
        text-align: center;
        width: 40%;
        margin-left: 29%;
        background-color: azure;
        border-radius: 35px;
        box-shadow: #4d4d4d 2px 2px 5px;
    }
    form.login {
        width: 85%;
        padding: 20px 20px 20px 20px;
        margin: 15px 15px 15px 15px;
    }

    form.login input {
        margin: 10px 10px 20px 10px;
        padding: 20px 20px 20px 20px;
        height: 43px;
        border-radius: 30px;
    }


    form.login input[type=password] {
        width: 90%;
    }

    form.login input[type=submit] {
        width: 90%;
        height: 45px;
        padding: 10px;
        
    }
    
    @media only screen and (max-width: 800px) {
        div.container_login {
            width: 94%;
            margin-left: 0%;
            margin: 30px 15px 60px 15px;
        }
        form.login {
            width: 85%;
        }
    }
    
    /***************************************/
    /*             EDICION                 */
    /***************************************/

    a.volver {
        color: rgb(7, 123, 190);
        margin: 10px;
        margin-left: -70px;
        margin-top: 150px;
        font-size: 15pt;
    }

    a.volver:hover {
        color: rgb(107, 206, 255);
    }


    form.edicion input {
        margin: 20px;
        padding: 10px;
        background: transparent;
        border: none;
    }

    form.edicion input.nombre {
        font-size: 20pt;
        width: 90%;
    }

    form.edicion input.dimensiones {
        font-size: 15pt;
        width: 100%;
    }

    form.edicion input.procedencia {
        font-size: 15pt;
    }

    form.edicion textarea.comentario {
        height: 400px;
        width: 100%;
        margin: 20px;
        padding: 10px;
        background: transparent;
        border: none;
        font-size: 12pt;
        font-family: 'Raleway', sans-serif;
    }

    form.edicion input.submit {
        background-color: rgb(80, 169, 253);
        font-size: 15pt;
        width: 80%;
        margin-left: 20%;
    }

    p.success {
        color: rgb(4, 100, 4);
        font-size: 15pt;
        margin: 1px;
        background-color: rgba(131, 253, 107, 0.2);
        padding: 12px;
        border-radius: 7px;
    }

    p.error {
        color: rgb(138, 34, 7);
        font-size: 15pt;
        margin: 1px;
        background-color: rgba(235, 89, 63, 0.2);
        padding: 12px;
        border-radius: 7px;
    }